.aqua-chart:first-child {
    margin-right: 20px;
}

.aqua-chart {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.gauge-container {
    padding-bottom: 50%;
}

.gauge-text {
    text-align: center;
}

/*.gauge-container.left{*/
    /*width: 48%;*/
    /*margin-left:2%;*/
/*}*/

/*.gauge-container.right {*/
  /*width: 48%;*/
    /*margin-right:2%;*/
/*}*/


/*.maintainence-container {*/
/*}*/

/*.row {*/
    /*position:absolute;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background:red;*/
/*}*/