#help-container {
    margin: 5px 20px;
}

#help-container h1, #help-container h3 {
    font-weight: bold;
    text-align: center;
}

#help-container h1 {
    text-decoration: underline;
}

.instructions-container {
    margin-top: 20px;
}

.section{
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}